@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap");

/* quebrando padrões */
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  margin: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
  line-height: 1.3;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
